/* body {
  margin: 8% 1% 2.5% 1%;
} */

.kontakt {
  text-align: center; 
  max-width: 1550px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.info-kontakt {
  padding-right: 2%;
  align-self: flex-start; /* Wyświetla wszystkie kontenery na górze */
  white-space: nowrap;
}

.email-kontakt {
  font-weight: bold;
  margin-bottom: 10%;
  margin-top: 10%;
}

p {
  line-height: 1.5;
}

@media screen and (max-width: 800px) {
  .kontakt {
    grid-template-columns: 1fr;
    text-align: center;
    width: 100%
  }

  .email-kontakt {
    margin: 3%;
  }

  /* body {
    margin: 20% 1% 4.5% 1%;
  } */
}
